<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RuleController</servlet-name>
        <servlet-class>com.placement.controllers.RuleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.placement.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeController</servlet-name>
        <servlet-class>com.placement.controllers.CollegeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GridDataController</servlet-name>
        <servlet-class>com.placement.controllers.GridDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>com.placement.controllers.DepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>com.placement.controllers.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacementController</servlet-name>
        <servlet-class>com.placement.controllers.PlacementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentToPlacementController</servlet-name>
        <servlet-class>com.placement.controllers.DepartmentToPlacementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoiceController</servlet-name>
        <servlet-class>com.placement.controllers.ChoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacementStudentController</servlet-name>
        <servlet-class>com.placement.controllers.PlacementStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadStudentController</servlet-name>
        <servlet-class>com.placement.controllers.UploadStudentControllerX</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPlacementController</servlet-name>
        <servlet-class>com.placement.controllers.StudentPlacementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>com.placement.controllers.UsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.placement.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacementDepartmentController</servlet-name>
        <servlet-class>com.placement.controllers.PlacementDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalInfoController</servlet-name>
        <servlet-class>com.placement.controllers.PersonalInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentChoiceController</servlet-name>
        <servlet-class>com.placement.controllers.StudentChoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>com.placement.controllers.UploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>com.placement.controllers.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>com.placement.controllers.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RuleController</servlet-name>
        <url-pattern>/RuleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeController</servlet-name>
        <url-pattern>/CollegeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GridDataController</servlet-name>
        <url-pattern>/GridDataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/DepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/StudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacementController</servlet-name>
        <url-pattern>/PlacementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentToPlacementController</servlet-name>
        <url-pattern>/DepartmentToPlacementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoiceController</servlet-name>
        <url-pattern>/ChoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacementStudentController</servlet-name>
        <url-pattern>/PlacementStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadStudentController</servlet-name>
        <url-pattern>/UploadStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPlacementController</servlet-name>
        <url-pattern>/StudentPlacementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/UsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacementDepartmentController</servlet-name>
        <url-pattern>/PlacementDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalInfoController</servlet-name>
        <url-pattern>/PersonalInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentChoiceController</servlet-name>
        <url-pattern>/StudentChoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/UploadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/ReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/ForgetPasswordController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
